#container-header{
    background-color: #f7d81f;
    height: 3rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    position: relative;
}


#container-icon {
    position: absolute;
    left: 16px;
}

ion-img {
    height: 100%;
}