.container-header{
    background-color: #f7d81f;
    height: 3rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}


img {
    height: 90%;
    width: auto;
}
